<h2>JSON ОБРАБОТЧИК</h2>
<div class="json-container" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
  <button class="add-btn" (click)="dropzone.showFileSelector()">Загрузить Json</button>

  <p class="json-placeholder" *ngIf="!preparedJson.length || isDropping">ПЕРЕТАЩИТЕ ФАЙЛ СЮДА</p>
  <ng-container *ngIf="!isDropping">
    <div class="json-object">
      <ul>
        <ng-container *ngFor="let item of preparedJson; let i = index;">
          <li *ngIf="item.isVisible">
            <span *ngIf="item.level" [ngClass]="[item.type !== 'empty' ? 'gray-line w-level-' + item.level : 'w-level-' + item.level]"></span>
            <ng-container *ngIf="['array', 'object', 'empty'].includes(item.type); else notObject">
              <i [ngClass]="{'fa': true, 'fa-caret-down': item.isOpened, 'fa-caret-right': !item.isOpened}"
                 (click)="toggleObject(i)"
                 [style.display]="item.type === 'empty' ? 'none' : 'inline-block'" aria-hidden="true">
              </i>
              <span *ngIf="item.type !== 'empty'" class="json-object--text" (click)="toggleObject(i)">{{item.value + ' ' + item.data}}</span>
              <span *ngIf="item.type === 'empty'" class="json-object--empty">{{item.value}}</span>
            </ng-container>
            <ng-template #notObject>
              <span class="key-black-color">{{item.value}}:</span>
              <span class="entry-green-color">{{item.data}}</span>
            </ng-template>

            <i class="fa fa-files-o copy-icon" aria-hidden="true" (click)="copyData(i)"></i>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
  <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [accept]="'application/json'"
    [ngStyle]="{'pointer-events': isDropping ? 'auto' : 'none'}"></ngx-dropzone>
</div>
<app-notification *ngIf="notificationText" (onClick)="closeNotification($event)"
  [text]="notificationText" [type]="notificationType">
</app-notification>

